body {
    margin: 0;
    font-family: "Gabarito", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h1 {
    color: white;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  }
  
  [class^="number-slide"],
  [class*=" number-slide"] {
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    height: 300px;
    max-height: 100vh;
  }
  
  .navigation-wrapper {
    position: relative;
  }
  
  .dots {
    display: flex;
    padding: 10px 0;
    justify-content: center;
  }
  
  .dot {
    border: none;
    width: 10px;
    height: 10px;
    background: #c5c5c5;
    border-radius: 50%;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
  }
  
  .dot:focus {
    outline: none;
  }
  
  .dot.active {
    background: #000;
  }
  
  .arrow {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    fill: #fff;
    cursor: pointer;
  }
  
  .arrow--left {
    left: 5px;
  }
  
  .arrow--right {
    left: auto;
    right: 5px;
  }
  
  .arrow--disabled {
    fill: rgba(255, 255, 255, 0.5);
  }

nav ul li{
  display: flex;
  margin: 0.5rem;
}

.menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  background:#420D09;
  width: 100%;
  color: #FFF;
  font-family: "Gabarito", sans-serif;
}

.menu ul{
  display:block;
  margin:0px;
  padding:0px;
  list-style:none;
  line-height: 2.5rem;
}

.menu ul li{
  float:left;
  position:relative;
  cursor: pointer;
  z-index: 10;
}

.menu ul li a {
  transition: 0.3s ease;
}

.menu ul li span {
  transition: 0.3s ease;
}

.menu ul li:hover{
  color: #bf0a30;
}

.menu ul li ul{
  position:absolute;
  left:0px;
  top:2rem;
  background: #800000;
  visibility: hidden;
  opacity:0;
  transition: .3s ease-in;
}

.menu ul li:hover ul{
  visibility: visible;
  opacity:1;
}

.menu ul li ul li{
  float:none;
}

.menu ul li ul li a{
  white-space:nowrap;
  line-height:normal;
  padding:0px;
  color: #FFF;
}

.menu ul li ul li a:hover{
  text-decoration:underline;
  color: #bf0a30;
}

.blur-bg {
  filter: blur(5px); /* Altere o valor para o desfoque desejado */
}

.vhMax {
  height: 100vh;
}

.geeks {
  width: 95%;
  overflow: hidden;
  animation: animate 8s linear forwards; 
} 

.geeks h1 { 
  color: white; 
} 

@keyframes animate {
  
  0% { 
    opacity: 0; 
  } 

  30% { 
      opacity: 25%; 
  } 

  50% { 
      opacity: 50%;  
  } 

  75% { 
      opacity: 70%;  
  } 

  90% { 
    opacity: 100%;  
  } 
} 